.song-form {
    height: 210px;
    width: 200px;
    background-color: #FFEAEE;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
  }
  
  .song-form .titlu {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .song-form .url {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .song-form .stilMuzica {
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .song-form .add {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BDE0FE;
  }